.NotFoundPages{
    display: flex;
    width: 18.75rem;
    height: 15.625rem;
    padding: 0.625rem;
    text-align: center;
    background-color: white;
    flex-direction: column;
}
.NotFoundPages div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.NotFoundPages h2{
    text-shadow: 0.3125rem 0.3125rem 0.125rem black;
    opacity: 0.5;
    margin: 0;
    font-size: 500%;
}

.NotFoundPages h3{
    font-size: 125%;
}
.NotFoundPages a{
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    border-radius: 10%;
    text-decoration: none;
    color: white;
    background-color:rgb(27, 29, 179);
}
.NotFoundPages a :hover{
    
    
}