.Test{
    margin-bottom: 2rem;
}
.Test div{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}
.Test label{
    width: 100%;
    display: flex;
    word-wrap: break-word;
    align-items:center;
    padding-bottom: 0.625rem;
}
.Test input{
  margin-right: 1rem;
 
}