.form_Registration {
    width: 20%;
    height: 300px;
    margin: 0 auto;
}

.style_form {
    padding: 25px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.form_Registration h1 {
 padding-bottom: 15px;
 text-align: center;
}

label {
    font-size: 14px;
    font-weight: 500;
}

.style_form div {
    padding-bottom: 5px;
}

.buttons {
    width: 100px;
    padding-top: 15px;
}

.text {
    text-align: center;
}