.Regist {
    width: 400px;
    margin: 5px;
    padding: 30px;
    background-color: #2f9ae1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Regist h1 {
    color: #394B59;
    font-weight: normal;
}

.Regist Button {
    margin: 5px;
    margin-top: 1rem;
}

.Regist Input {
    margin: 5px;
}

.Regist p {
    color: white;
}

.Regist p Link {
    color: whitesmoke;
}

.SelectRegist {
    margin: 5px;
    width: 100%;
    background-color: white;
}

.SelectRegist select {
    border-radius: 0.2rem;
}

.form_regist {
    background: #ffffff;
    padding: 20px;
}
