.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 15px;
  padding: 2rem;
  flex-grow: 1;
  width: 100%;
}

.Lecture {
  font-size: 1rem;
  color: #2A4480;
}

.Lecture:hover {
  text-shadow: 3px 3px 7px rgb(3, 88, 99);
  transition: text-shadow 0.3s cubic-bezier(0, 0, 0.87, 0.85);
  font-weight: 900rem;
  transition: font-weight 0.2s cubic-bezier(0, 0, 0.87, 0.85);
}

.Lecture:active {
  color: rgb(67, 6, 180);
  text-shadow: 3px 3px 7px rgb(5, 20, 150);
  transition: text-shadow 0.05s cubic-bezier(0, 0, 0.87, 0.85);
}

