.Content {
    display: flex;
    flex-direction: column;
    //align-items: center;
    background: white;
    border-radius: 15px;
    padding: 2rem;
    flex-grow: 1;
    width: 100%;
}

.InfoTrainees{
    display: flex;
    flex-direction: column;
    
}
.InfoTrainees button{
   margin: auto;
   margin-bottom: 1.125rem;
    
}
.select{
    
    margin-bottom: 1.125rem;
    width: auto;
 }

 .LinkUser {
     
     
 }

 .LinkUserTable:hover {
 color: rgb(224, 224, 224);
}

.LinkUserTable {
    font-size: 2rem;
    background: rgb(174, 209, 224);
}