.Content {
    display: flex;
    flex-direction: column;
    //align-items: center;
    background: white;
    border-radius: 15px;
    padding: 2rem;
    flex-grow: 1;
    width: 100%;
}

.InfoTrainees{
    display: flex;
    flex-direction: column;
    
}
.InfoTrainees button{
   margin: auto;
   margin-bottom: 1.125rem;
    
}
.select{
    
    margin-bottom: 1.125rem;
    width: auto;
 }