.Header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 3rem;
    background: #ffffff;
    border-radius: 0.5rem;
    color: rgb(0, 0, 0);
}

.Exit {
    padding: 0.6rem;
    background: rgb(71, 4, 255);
    margin: 0.3rem 1rem;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
}

.Exit:hover {
    color: white;
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(39, 76, 243);
}