.MenuIteam{
    color: #9fa1b0;
    margin: 0 0 0 0;
}

.MenuIteam a {
    text-decoration:none;
    color: #9fa1b0;
}
.line div{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    margin-left: 0.625rem;
}
.line:hover{
    background-color: #6881f5;
    color: whitesmoke;
}
.value{
    flex-grow: 1;
}
.badges{
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    background-color: #5a76f5;
    color: cornsilk;
    border-radius: 0.125rem;
    justify-self: self-end;
}
.nesting{
    display: flex;
    background-color: #515983;
    flex: none;
}
.nesting ul{
    margin: 0;
}
.nesting li{
    padding-left:1.125rem;
    margin-top:0.625rem;
    margin-bottom: 0.625rem;
}
