.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 15px;
  padding: 2rem;
  flex-grow: 1;
  width: 100%;
}

.Category {
  width: 100%;
}