.MenuIteam{
    width: 400px;
    margin: 5px;
    padding: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.MenuIteam h1{
    color: #394B59;
    font-weight: normal;
}
.MenuIteam Button{
    margin: 5px;
}
.MenuIteam Input{
    margin: 5px;
    
}
.MenuIteam span{
    margin-top: 2px;
}
.MenuIteam p{
    color: white;
}
.MenuIteam p Link{
    color: white;
}
