.Login{
    width: 400px;
    margin: 5px;
    padding: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.Login h1{
    color: #394B59;
    font-weight: normal;
}
.Login Button{
    margin: 5px;
}
.Login Input{
    margin: 5px;
    
}
.Login span{
    margin-top: 2px;
}
.Login p{
    color: white;
}
.Login p Link{
    color: white;
}
